@import "@/style.scss";
.specs {
    grid-column: 1 / -1;
    &__title{
        font-size: 22px;
        padding-bottom: 16px;
        font-weight: 800;
        color: $original_primary;
        border-bottom: 1px $original_elements solid;
        margin-bottom: 30px;
        @media (min-width: 640px) {
            margin-bottom: 25px;
          }
    }
    
    &__element{
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px $original_elements solid;
        
    }
    &__key{
        color: $original_secondary;
        font-weight: 500;
        line-height: 21px;
    }
    &__value{
        color: $original_primary;
        font-weight: 500;
    }
    @media (min-width: 1200px) {
        grid-column: 14 / 24;;
      }
}

.specs-dark{
  .specs__title{
    color: $dark_white;
    border-color: $dark_elements;
  }

  .specs__element{
    border-color: $dark_elements;
  }

  .specs__key{
    color: $dark_secondary;
  }
  
  .specs__value{
    color: $dark_white;
  }
}