@import "../../../../style.scss";

.color-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(8);

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  &__title {
    color: $original_secondary;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(8);
  }

  &__color {
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    border: toRem(2) solid $original_elements;
    transition: border $transitionDuration;

    box-shadow: inset 0 0 0 toRem(2) $original_white;

    &:hover{
      border-color: $original_secondary;
    }

    &--active {
      border-color: $original_primary;
    }
  }
}

.color-options-dark{
  .color-options__title{
    color: $dark_secondary;
  }

  .color-options__color{
    border-color: $dark_surface_2;

    &:hover{
      border-color: $dark_icons;
    }
  }
  .color-options__color--active{
    border-color: $dark_secondary;
  }
}