@import "../../../../style.scss";

.color-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(8);

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  &__title {
    color: $original_secondary;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(8);
  }

  &__color {
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    border: toRem(2) solid $original_elements;
    transition: border $transitionDuration;

    box-shadow: inset 0 0 0 toRem(2) $original_white;

    &--active {
      border-color: $original_primary;
    }
  }
}