@import "../../../../style.scss";

.product-id {
  margin-left: auto;
  color: $dark_icons;
  
  padding-left: toRem(10);
  font-size: toRem(12);
  font-weight: $bold;
  line-height: toRem(15);
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: toRem(100);

  @media (min-width: $desktop) {
    padding-left: 0;
    display: none;
  }
}