.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: toRem(16);

  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, toRem(32));
  }

  &--main {
    padding: 0 toRem(16);

    @media (min-width: 640px) {
      padding: 0 toRem(24);
    }
  }

  > * {
    grid-column: 1 / -1;
  }
}


// Example
// 
// <div className={cn('grid-container', [styles['component-name']])}>
//  <div className={styles['products-list__product']}>
//    content
//  </div>
//</div>
//
// .component-name {
//  display: grid;      // if needed row-gap
//  row-gap: toRem(40); // 
//
//    &__grid-item {
//      grid-column: 1 / -1;
//      grid-column: span 4;
//    }
//  }