@import "../../../../style.scss";

.products-slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: toRem(72);
  margin-bottom: toRem(24);

  &__title {
    font-size: toRem(22);
    font-weight: $extraBold;
    line-height: toRem(31);
    color: $original_primary;
  
    @media (min-width: 640px) {
      font-size: toRem(32);
      line-height: toRem(41);
    }
  }

  &__buttons-container {
    display: flex;
    align-content: center;
    gap: toRem(16);
  }
  
  &__button {
    height: toRem(32);
    width: toRem(32);
    background-repeat: no-repeat;
    background-position: center;
    border: toRem(1) solid $original_icons;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $original_primary;
      }
    }

    &:disabled {
      border-color: $original_elements;
    }
  }
  
  &__button-prev {
    background-image: url("/images/original/icons/original_less.svg");   
  }

  &__button-next {
    background-image: url("/images/original/icons/original_more.svg");
  }
}

.products-slider-header-dark{
  .products-slider-header__title{
    color: $dark_white;
  }

  .products-slider-header__button{
    background-color: $dark_surface_2;
    border-color: $dark_icons;

    &:hover{
      background-color: $dark_elements;
      border-color: $dark_secondary;
    }

    &:active{
      background-color: $dark_icons;
    }
  }
}