@import "@/style.scss";

.selectors {
  row-gap: toRem(24);

  &__sort{
      grid-column: 1 / 3;

      @media (min-width: 640px) {
          grid-column: 1 / 5;
      }
      @media (min-width: 800px) {
          grid-column: 1 / 4;
      }
      @media (min-width: 960px) {
          grid-column: 1 / 4;
      }
      @media (min-width: 1200px) {
          grid-column: 1 / 5;
      }
  }

  &__pagination{
      grid-column: 3 / 5;
      @media (min-width: 640px) {
      grid-column: 5 / 8;
    }    
      @media (min-width: 800px) {
      grid-column: 4 / 7;
    }
    @media (min-width: 960px) {
      grid-column: 4 / 7;
  }
      @media (min-width: 1200px) {
      grid-column: 5 / 8;
    }    
  }

  &__search {
    grid-column: 1 / 4;

    @media (min-width: 640px) {
      grid-column: 8 / 11;
    }    
    
    @media (min-width: 800px) {
      grid-column: 7 / 10;
    }

    @media (min-width: 960px) {
      grid-column: 7 / 10;
    }

    @media (min-width: 1200px) {
      grid-column: 8 / 11;
    }    
  }

  &__search-title {
    margin-bottom: toRem(7);
    font-size: toRem(12);
    line-height: toRem(15);
    color: $original_secondary;
  }

  &__search-input {
    min-height: toRem(38);
    padding: 0 toRem(10);
    background-color: #FAFBFC;
    color: '#89939A';
    border: toRem(1) solid rgb(137, 147, 154);
    cursor: pointer;

    &:hover {
      border-color: #313237;
    }
  }
}