@import "@/style.scss";

.product-details-page {
  &__button-back {
    display: flex;
    align-items: center;
    gap: toRem(4);
    margin-bottom: toRem(16);
    width: fit-content;
  }

  &__button-back-icon {
    width: toRem(16);
    height: toRem(16);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/original/icons/original_less.svg");
  }

  &__product-title {
    margin-bottom: toRem(32);

    @media (min-width: $tablet) {
      margin-bottom: toRem(40);
    }
  }
}

.about {
  margin-bottom: 56px;

  @media (min-width: $tablet) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }
}

.gallery-and-characteristics {
  row-gap: toRem(40);
  margin-bottom: toRem(56);

  @media (min-width: $tablet) {
    row-gap: toRem(64);
  }

  @media (min-width: $desktop) {
    margin-bottom: toRem(80);
  }

  > :first-child {
    grid-column: 1 / -1;

    @media (min-width: $tablet) {
      grid-column: 1 / 8;
    }

    @media (min-width: $desktop) {
      grid-column: 1 / 13;
    }
  }

  > :nth-child(2) {
    grid-column: 1 / -1;

    @media (min-width: $tablet) {
      grid-column: 8 / -1;
    }

    @media (min-width: $desktop) {
      grid-column: 14 / 21;
    }
  }
}

.breadcrumbs {
  margin-bottom: toRem(24);

  @media (min-width: $tablet) {
    margin-bottom: toRem(40);
  }
}