@import "@/style.scss";


.footer {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing:  border-box;
  height: toRem(96);
  padding: toRem(32) toRem(152);

  font-size: toRem(12);  
  color: $original_secondary;
  font-weight: $bold;
  text-align: center;

  border-top: toRem(1) solid $original_icons;


  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;

    gap: toRem(32);
    padding: toRem(16) toRem(32);
    margin-top: toRem(64);

  }

  @media (max-width: 1200px) and (min-width: 641px) {
    gap: toRem(13);
    padding: toRem(32);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: toRem(107);

    text-transform: uppercase;

    @media (max-width: 1200px) {
      gap: toRem(14);

    }

    @media (max-width: 640px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: toRem(16);
    }
    
    & a:hover{
      color: $original_primary;
      transform: $transformScale;
      transition: transform $transitionDuration;
    }

  }

  &__go-back-btn{
    display: flex;
    align-items: center;
    gap: toRem(16);
    font-weight: $semiBold;

      &:hover {
        cursor: pointer; 
        color: $original_primary;
        transform: $transformScale;
        transition: transform $transitionDuration;
      }

      &__icon{
        height: toRem(32);
        width: toRem(32);
        box-sizing:  border-box;

        background-image: url('/images/original/footer/stroke-up.svg');
        fill: $original_primary;
        background-repeat: no-repeat;
        background-position: center;


        border: 1px solid $original_icons;

        &:hover{
          border: 1px solid $original_primary;
        }
      }
  }
}

.footer-dark {
  border-top: toRem(1) solid $dark_elements;

  .footer__link {
    color: $dark_white;

    & a:hover{
      color: $dark_accent;
      transition: color $transitionDuration;
    }

  }

  .footer__go-back-btn{
    color: $dark_secondary;

    &:hover{
      color: $dark_icons;
    }
  }

  .footer__go-back-btn__icon{
    background-image: url('/images/original/footer/stroke-up-black.svg');
    background-color: $dark_surface_2;
    border: none;
    
    &:hover{
      background-color: $dark_icons;
    }
  }

}