@import '@/css/utils/vars';
@import '@/css/utils/functions';

.foo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing:  border-box;
  height: toRem(96);
  padding: toRem(32) toRem(152);

  font-size: toRem(12);  
  color: $original_secondary;
  font-weight: $bold;
  text-align: center;

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;

    gap: toRem(32);
    padding: toRem(16) toRem(32);
  }

  @media (max-width: 1200px) and (min-width: 641px) {
    gap: toRem(13);
    padding: toRem(32);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: toRem(107);

    text-transform: uppercase;

    @media (max-width: 1200px) {
      gap: toRem(14);

    }

    @media (max-width: 640px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: toRem(16);
    }
    
    & a:hover{
      color: $original_primary;
    }

  }

  &__go-back-btn{
    display: flex;
    align-items: center;
    gap: toRem(16);
    font-weight: $semiBold;

    &:hover {
      cursor: pointer; 
      color: $original_primary;
  }

    &__icon{
      height: toRem(32);
      width: toRem(32);
      box-sizing:  border-box;

      background-image: url('images/original/footer/stroke-up.svg');
      fill: $original_primary;
      background-repeat: no-repeat;
      background-position: center;


      border: 1px solid $original_icons;

      &:hover{
        border: 1px solid $original_primary;

      }
    }
  }
}